a,  a:visited { 
    border: 1px solid black;
    color: black;
    Padding: 4px; 
    border-radius: 8px;
text-decoration: none;
}
a:hover { 
    background-color: rgb(225, 0, 255);
}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
}
